* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.App {
  text-align: left;
}

.App-header {
  background-color: #222;
  color: white;
  padding: 10px;
}

.App-intro {
  font-size: large;
}

h2 {
    margin: 0;
    padding: 0;
}

.code-editor {
    width: 100%;
    height: 100%;
}

.code-editor textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
}
