name: CI

on:
  push:
  pull_request:
  schedule:
    # do this every day at 7AM UTC
    - cron: "0 7 * * *"
jobs:
  build:
    name: test ubuntu-latest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: denoland/setup-deno@v2
        with:
          deno-version: 2.x
      - name: Install packages
        run: deno install
      - name: Lint
        run: deno lint
      - uses: dprint/check@v2.2
      - name: Check
        run: deno task check
      - name: Build
        run: |
          deno task addTypeScriptVersions
          deno task updateCompilerFiles
          deno task test
          deno task predeploy
      - name: Deploy
        if: github.ref == 'refs/heads/main'
        uses: JamesIves/github-pages-deploy-action@v4.5.0
        with:
          branch: gh-pages
          folder: dist
          single-commit: true
